.wrapper{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    transition: all .35s;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: .5rem;
    color: var(--primaryColor);
    letter-spacing: 10px;

    background-color: white;
    cursor: pointer;
    border: 2px solid var(--primaryColor);
    width: 200px;
    height: 50px;
}

a span {
    position: relative;
    z-index: 2;
}

a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primaryColor);
    transition: all .35s;
}
  
a span:hover {
    transition: all .35s;
    color: white;
}
  
a:hover:after {
    width: 100%;
}