.divGame {
    text-align: center;
    width: 100%;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

span {
    color: var(--primaryColor);
}

p {
    font-size: 20px;
}

.wordContainer {
    display: flex;
    padding: 1em 0;
    justify-content: center;  
}

.wordContainer .letter, .blankLine {
    font-size: 4em;
    line-height: 1;
    margin: 0 10px;
    border-bottom: 3px solid var(--fontColor);
    height: 70px;
    width: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer form input {
    width: 50px;
    height: 43px;
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid var(--fontColor);
    text-transform: uppercase;
    margin-right: 1em;
}

.letterContainer form .playButton {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    letter-spacing: 3px;

    background-color: var(--primaryColor);
    cursor: pointer;
    border: 2px solid var(--primaryColor);
    width: 140px;
    height: 50px;
}

.wrongLettersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrongLettersContainerSpan {
    padding: 0 5px;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .wordContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .wordContainer .letter, .blankLine {
        font-size: 2.5em;
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 480px) {
    .wordContainer .letter, .blankLine {
        font-size: 2em;
        height: 50px;
        width: 50px;
    }
}